$color-primary : #5767FF;
$color-primary-dark: #2B398F;
$color-secondary: #FBBF64;
$color-warning: #EFC90A;
$color-sucess: #2ecc71;
$color-sucess-darker: #27ae60;
$color-danger: #e74c3c;
$color-light: #fff;
$color-dark: #000;
